option_critic: 
  n_states: 500 # TODO: Should be precomputed
  n_options: 4
  n_actions: 4

  n_steps: 4000
  n_episodes: 1000

  epsilon: 1
  epsilon_decay: 2e6  # Epsilon decay per episode
  epsilon_min: 0.05 
  gamma: 0.99
  alpha_critic: 0.5
  alpha_theta: 0.25
  alpha_upsilon: 0.25
  temperature: 1e-2

  save_frequency: 100
  verbose: false
  quiet: false

  intrinsic_name: novelty
  intrinsic_weight_start: 5.0
  intrinsic_decay: 200000 # NOTE: SHOULD SCALE WITH number of episodes and steps